/* Header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    background-image: linear-gradient(to right, #333, #555); /* Tambahkan gradien latar belakang */
}

header h1 {
    font-size: 36px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); /* Efek bayangan teks */
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 0.1px;
}

/* Navigation */
nav {
    text-align: center;
    margin-bottom: 10px;
    background-color: rgba(51, 51, 51, 0.8); /* Transparansi pada latar belakang */
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    margin-right: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease; /* Efek hover */
}

nav a:hover {
    color: #ffd700; /* Warna kuning saat hover */
}


nav:hover::before {
    opacity: 1; /* Tampil saat hover */
}

/* Tombol hamburger untuk menu mobile */
.menu-toggle {
    display: none;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 5px;
}



/* Post */
.post {
    background-color: #fff;
    padding: 100px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: auto;
    transition: transform 0.3s ease; /* Efek hover */
}

.post:hover {
    transform: translateY(-5px); /* Efek naik saat hover */
}

.post h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.post p {
    color: #555;
    line-height: 1.6;
}

.post img {
    max-width: 100%;
    display: block;
    margin: 10px auto;
    border-radius: 5px;
    transition: transform 0.3s ease; /* Efek hover */
}

.post img:hover {
    transform: scale(1.1); /* Efek memperbesar saat hover */
}


/* Read More Button */
.read-more a {
    text-decoration: none;
    color: #fff;
    background-color: #333;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: inline-block;
}

.read-more a:hover {
    background-color: #555;
}

.latest-posts-container {
    position: 10px;
    font-size: larger;
    bottom: 20px; /* Jarak dari bawah */
    right: 20px; /* Jarak dari kanan */
        background-color: #fff;
        padding: 100px;
        margin-bottom: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: auto;
        transition: transform 0.3s ease;
}

.social-media-container {
    position: 10px;
    font-size: larger;
    bottom: 20px; /* Jarak dari bawah */
    right: 20px; /* Jarak dari kanan */
        background-color: #fff;
        padding: 100px;
        margin-bottom: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: auto;
        transition: transform 0.3s ease;
}

.a-post {
    color: #1d1c1c;
    text-decoration: none;
    font-weight: 800;
    font-size: large;
  }